    <!-- Menu -->
    <div  class="menu columns">
      <div class="inner-menu inner-shadow">
            <div data-top="0" class="column-holder main">
                <div class="column grow guys">
                  <h6><a>Guys</a></h6>
                  <ul>
                    <li><a>Barney</a></li>
                    <li><a>Cave Nebula</a></li>
                    <li><a>Roughy Ralph</a></li>
                    <li><a>Don Draper</a></li>
                  </ul>
                </div>
                <div class="column grow girls">
                  <h6><a>Girls</a></h6>
                  <ul>
                    <li><a>Fairy Felt</a></li>
                    <li><a>Unicorn Princess</a></li>
                    <li><a>Bashful Bunny</a></li>
                    <li><a></a></li>
                  </ul>
                </div>
                <div class="column farmland grow">
                  <h6><a>Farmland Fun</a></h6>
                  <ul>
                    <li><a>Woodland Woodchuck</a></li>
                    <li><a>CooCoo The Cow</a></li>
                    <li><a>Bunny Mustache</a></li>
                    <li><a>Blackbird Finter</a></li>
                    <li><a>Doris Duck</a></li>
                    <li><a>Oliver Pig</a></li>
                    <li><a>LilGrey Mouse</a></li>
                    <li><a>Old McDonald</a></li>
                  </ul>
                </div>
                <div class="column monsters  grow">
                  <h6><a>Monsters</a></h6>
                  <ul>
                    <li><a>Puppet Peado</a></li>
                    <li><a>Benedick BeanDragon</a></li>
                    <li><a>BooBoo BatFinger</a></li>
                    <li><a></a></li>
                    <li><a>Sandals</a></li>
                    <li><a>Sneakers</a></li>
                  </ul>
                </div>
                <div class="column wacky grow">
                  <h6><a>Wacky</a></h6>
                  <ul>
                    <li><a>Happy Birthday Cake</a></li>
                    <li><a>Eyewear</a></li>
                    <li><a>Gloves</a></li>
                    <li><a>Handbags</a></li>
                    <li><a>Hats</a></li>
                    <li><a>Jewelry</a></li>
                    <li><a>Scarves</a></li>
                  </ul>
                </div>
                <div class="column  curious-couples grow">
                  <h6><a>Curious Couples</a></h6>
                  <ul>
                    <li><a>Doctor and his Wife</a></li>
                    <li><a>Pride and Prejudice</a></li>
                    <li><a>Turtle and Paul</a></li>
                    <li><a>Fragrance</a></li>
                    <li><a>Home Decor</a></li>
                    <li><a>Media</a></li>
                    <li><a>Objects</a></li>
                    <li><a>Tech</a></li>
                  </ul>
                </div>
                <div class="column-spacer"></div>
            </div>
            <div data-top="256" class="column-holder popular">
              <div class="column grow popular">
                <h6><a>Popular</a></h6>
                  <ul>
                    <li><a>Ellie The Elephant</a></li>
                    <li><a>Saint Nicholas</a></li>
                    <li><a>Fatfinger Freddy</a></li>
                    <li><a>Erica Earwig</a></li>
                    <li><a>Unicorn Unitard</a></li>
                    <li><a>Barack Obama</a></li>
                  </ul>
              </div>
              <div class="column grow big-time">
                <h6><a>Big Time</a></h6>
                <ul><li><a>Desicaple Three</a></li>
                  <li><a>Goldilocks</a></li>
                  <li><a>Feline Fox</a></li>
                  <li><a>Elmo</a></li>
                  <li><a>This Little Piggy</a></li>
                </ul>
              </div>
              <div class="column grow more-animals" >
                <h6><a>More Animals</a></h6>
                <ul>
                  <li><a>Doug the Dog</a></li>
                  <li><a>Harvy Hedgehog</a></li>
                  <li><a>Leo Lion</a></li>
                  <li><a>Koala Karl</a></li>
                  <li><a>C</a></li>
                </ul>
              </div>
              <div class="column grow lifestyle">
                <h6><a>Lifestyle</a></h6>
                <ul>
                  <li><a>Ninja Nick</a></li>
                  <li><a>Nit Kitty</a></li>
                  <li><a>Robot Friends</a></li>
                  <li><a>Polar Bear Paul</a></li>
                  <li><a>Tucker Turkey</a></li>
                </ul>
              </div>
              <div class="column-spacer"></div>
            </div>
            <div data-top="512" class="column-holder magazine">
              <img src="/images/puppets/magazine.jpg">
            </div>
            <div data-top="762" class="column-holder fingers">
                <img src="/images/puppets/fingers.jpg">
            </div>
            <div data-top="1024" class="column-holder friends">
              <img src="/images/puppets/friends.jpg">
            </div>
      </div>
      <i class="nav-icon icon-chevron-left"></i> 
      <i class="nav-icon icon-chevron-right"></i>
    </div>
<div class="spacer top"></div>
    <!-- End Menu -->
<div class="large-12 columns">
    <div class="nav-holder">
        <div class="top-nav-content-holder">
            
                <h5><span>Finger Puppet Land</span></h5>

            <div class="top-row">
                <!-- Top Nav -->
                <ul class="button-group top-nav">
                  <li class="grow min-320"><a class="finters">fingers</a></li>
                  <li class="grow min-320"><a class="girls">girls</a></li>
                  <li class="grow min-320"><a class="guys">guys</a></li>
                  <li class="grow min-320"><a class="popular">popular</a></li>
                  <li class="grow min-640"><a class="magazine">magazine</a></li>
                   <li class="grow min-640"><a class="friends">friends</a></li>
                </ul>
                <!-- Top Nav -->
            </div>
        </div>
        <i class="nav-icon icon-chevron-up up-icon"></i> 
    </div>
        <!-- End Navigation -->
        <div class="scrollable-content">
          <div class="large-6 columns magazine">
            <img src="/images/puppets/granny_basket.jpg"><br>
            <p>Finger Puppet Land is Here!</p>
          </div>
 
        <!-- Header Content -->
        <div class="row discover">
          <div class="large-6 columns">
            <h3  class="show-for-small"></h3>
            <div class="panel">
                <h5 class="subheader">The only social network for only fingerpuppets, create your profile today and start dating fingers.</h5>
            </div>

          <div class="row">
              <div class="large-6 small-6 columns">
                <div class="panel">
                <img src="/images/puppets/monkey.jpg">
                <h6 class="subheader">Find Friends</h6>
                </div>
              </div>
 
              <div class="large-6 small-6 columns ">
                <div class="panel">
                
                <img src="/images/puppets/jungle_group.jpg">
                <h6 class="subheader"></h6>
                </div>
              </div>
          </div>
          </div>
        </div>
      <!-- End Header Content -->

      <!-- Thumbnails -->
        <div class="row content-items">
          <h3 class="content-header">Finger Puppets</h3>
          <ul class="large-block-grid-4">
            <li>
              <img src="/images/puppets/furry.jpg">
              <div class="panel">
                <div class="title">Furry</div>
                <div class="desc">looks a nice finger</div>
                <div class="price">$10.00</div>
              </div>
            </li>
            <li>
                <img src="/images/puppets/don_draper.jpg">              
                <div class="panel">
                  <div class="title">Don Draper</div>
                  <div class="desc">This madman as a point(ed finter)</div>
                  <div class="price">$5.00</div>
                </div>
            </li>
            <li>
              <img src="/images/puppets/mouse_finger.jpg">
                <div class="panel">
                  <div class="title">Lil Mouse</div>
                  <div class="desc">Sniffs around</div>
                  <div class="price">$8.00</div>
              </div>
            </li>
            <li>
                <img src="/images/puppets/fairy.jpg">
                <div class="panel">
                    <div class="title">Silly Sally</div>
                    <div class="desc">Always laughing</div>
                    <div class="price">$9.00</div>
                </div>
            </li>
          </ul>
        </div>
      <!-- End Thumbnails -->
      </div>
    </div>
  
    <div class="spacer bottom"></div>
    <!-- Footer -->
    <footer>
        <div>
          <ul class="inline-list left">
            <li class="min-320 grow"><a>Privacy Policy</a></li>
            <li class="min-320 grow"><a>Terms of Use</a></li>
            <li class="min-640 grow"><a>About/FAQ</a></li>
            <li class="min-320 grow"><a>Brands</a></li>
            <li class="min-640 grow"><a>Facebook</a></li>
            <li class="min-640 grow"><a>Pinterest</a></li>
            <li class="min-640 grow"><a>Twitter</a></li>
          </ul>
        </div>
  </footer>
      <!-- End Footer -->